<h1>success</h1>
<h3>id: {{collection_id}}</h3>
<h3>status: {{ collection_status}}</h3>
<h3>external_reference: {{external_reference}}</h3>
<h3>payment_type: {{payment_type}}</h3>
<h3>preference_id: {{preference_id}}</h3>
<h3>ite_id: {{ite_id}}</h3>
<h3>processing_mode: {{processing_mode}}</h3>